*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root{
  height: 100%;
  width: 100%;
}

html{
  background-color: rgb(26, 25, 25);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.notes{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem;
}

.note{
  background-color: #393737;
  max-width: 30rem;
  padding: 0.7rem;
  border-radius: 0.7rem;
  color: white;

}